__pycache__/
*.py[cod]
*$py.class
.env
../venv/
.DS_Store
.idea/

code_start_py

requeriments.txt


# Archivos utilizados en el desarrollo del proyecto
utilidades_gestion/
txt/
data/

# Outputs del proyecto
*.ipynb
*.html
