recursive-include antyx/styles *.css
recursive-include antyx/static *.js *.css
recursive-include antyx/templates *.html
recursive-include antyx/icons *.png *.svg

prune utilidades_gestion
prune tests
prune txt
prune docs
prune site
prune build
prune dist
prune .venv
prune .git